body {
background-color: #6699FF;
}

p {
font-size: 18px;
}

h1 {
font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    border-right: 2px solid #000000;
    
    
}
.nav{
text-align: center;

}
.container img{
width: 20%%;
height: 20%;
margin-right: 50%;
margin-left: 40%;
}


