body {
background-color: #6699FF;
}

p {
font-size: 18px;
}

h1 {
font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    
}

li {
    display: inline;
    text-decoration: none;
    
    
}
a {
    text-decoration: none;
}
.container img{
width: 20%%;
height: 20%;
margin-right: 50%;
margin-left: 40%;
}